@model RentMe.Models.Entities.Accommodation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accommodation</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.Images.Any(f => f.FileType == RentMe.Models.Enums.FileType.Avatar))
        {
            <dt>
                Avatar
            </dt>
            <dd>
                <img src="~/File?id=@Model.Images.First(f => f.FileType == RentMe.Models.Enums.FileType.Avatar).ImageId" alt="avatar" />
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.imageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageName)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
